{% extends 'layout.html' %}

{% block content %}
<h1>Beheer Klanten</h1>
<table>
    <thead>
        <tr>
            <th>Klant ID</th>
            <th>Naam</th>
            <th>E-mail</th>
            <th>Telefoon</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone_number }}</td>
                <td>
                    <a href="{% url 'edit_customer' customer.id %}">Bewerken</a>
                    <a href="{% url 'delete_customer' customer.id %}">Verwijderen</a>

                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
