{% extends 'layout.html' %}

{% block content %}
<h1>Beheer Boekingen</h1>
<table>
    <thead>
        <tr>
            <th>Boeking ID</th>
            <th>Naam Klant</th>
            <th>Datum</th>
            <th>Uur</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.customer.name }}</td>
                <td>{{ booking.date }}</td>
                <td>{{ booking.time }}</td>
                <td>
                    <a href="{% url 'edit_booking' booking.id %}" class="action-link">Bewerken</a> |
                    <a href="{% url 'delete_booking' booking.id %}" class="action-link">Verwijderen</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
